# `필요한 라이브러리 불러오기`

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import PublicDataReader as pdr

# `필요한 파일 불러오기`

In [ ]:
추정매출 = pd.read_csv("./서울시 상권분석서비스(상권-추정매출2022).csv", encoding = "ansi")
생활인구 = pd.read_csv("./서울시 상권분석서비스(상권-생활인구2022).csv", encoding = "ansi")
직장인구 = pd.read_csv("./서울시 상권분석서비스(상권-직장인구2022).csv", encoding = "ansi")
상권영역 = pd.read_csv("./서울시 상권분석서비스(상권영역).csv", encoding = "ansi")
법정동코드 = pd.read_csv("./서울시 건축물대장 법정동 코드정보.csv", encoding = "ansi")
매출등급 = pd.read_csv("./필지단위 소상공인 매출등급 정보.csv", encoding = "ansi")
코드변환 = pd.read_csv("./A_CS 코드변환.txt")
년도_업종_구_등급  = pd.read_csv("./분기수정_년도_업종_구_등급.csv", encoding = "ansi")
상권영역_f_xy = pd.read_csv("./상권영역_f_xy.csv", encoding = "ansi")

# `추정매출["점포수"]에 *값 1로 변경해주기`

In [3]:
추정매출["점포수"]= 추정매출["점포수"].str.replace(pat = "*",repl = "1")
추정매출 = 추정매출.astype(dtype = str)
추정매출

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2022,4,D,발달상권,2120139,대림3동사거리,CS300031,가구,205619535,220,...,0,176,44,0,0,0,0,44,176,1
1,2022,4,D,발달상권,2120068,사가정역,CS100005,제과점,1111094837,97349,...,9275,33721,62371,1769,17108,23129,20604,18990,14492,5
2,2022,4,R,전통시장,2130322,고분다리전통시장,CS300018,의약품,168879417,10969,...,0,4939,6030,78,312,1223,1169,2496,5691,3
3,2022,4,D,발달상권,2120230,송파사거리(송파역),CS300017,시계및귀금속,47289011,156,...,0,59,97,0,0,15,0,38,103,5
4,2022,4,D,발달상권,2120234,가락시장역,CS200016,당구장,191548486,7142,...,1726,6518,495,136,812,1417,1156,1815,1678,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136815,2022,1,D,발달상권,2120210,선릉역,CS100001,한식음식점,23793250961,656818,...,33341,325540,198873,5225,92276,142044,117282,100271,67313,252
136816,2022,1,D,발달상권,2120210,선릉역,CS300022,화장품,16603436633,129219,...,4457,23784,105284,1676,41781,37758,22677,15331,9845,227
136817,2022,1,A,골목상권,2110229,장평중학교,CS100002,중식음식점,116283313,5785,...,12,3519,1646,14,329,1061,1602,1156,1005,4
136818,2022,1,D,발달상권,2120093,연희동,CS100010,커피-음료,2040140668,201894,...,2578,73439,123527,1536,66115,62268,30498,25224,11328,34
136819,2022,1,D,발달상권,2120166,방배역,CS300022,화장품,172942123,853,...,144,257,574,0,57,216,321,105,132,31

# `추정 매출에 구, 행정동, 법정동 코드 결합하기`

# `구와 행정동,법정동 코드 뽑아내기`

In [4]:
행_법정동코드 = pdr.code_hdong_bdong()
행_법정동코드 = 행_법정동코드.loc[행_법정동코드['말소일자'] == ""]
행_법정동코드 = 행_법정동코드.astype(dtype = str)
행_법정동코드

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2023. 7. 3. 시행)

,시도코드,시도명,시군구코드,시군구명,행정동코드,읍면동명,법정동코드,동리명,생성일자,말소일자
0,11,서울특별시,11000,,1100000000,,1100000000,서울특별시,19880423,
1,11,서울특별시,11110,종로구,1111000000,,1111000000,종로구,19880423,
11,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010100,청운동,20081101,
12,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010200,신교동,20081101,
13,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010300,궁정동,20081101,
...,...,...,...,...,...,...,...,...,...,...
53156,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035038,장산리,20230611,
53157,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035039,전진리,20230611,
53158,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035040,주청리,20230611,
53159,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035041,적은리,20230611,
53160,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035042,물갑리,20230611,

In [5]:
#len(행_법정동코드["행정동코드"][0])

### `행정동코드, 법정동코드 길이 8로 맞춰주기`

In [6]:
행_법정동코드["법정동코드_8"] = 행_법정동코드["법정동코드"].str[:-2]
행_법정동코드["행정동코드_8"] = 행_법정동코드["행정동코드"].str[:-2]
행_법정동코드

,시도코드,시도명,시군구코드,시군구명,행정동코드,읍면동명,법정동코드,동리명,생성일자,말소일자,법정동코드_8,행정동코드_8
0,11,서울특별시,11000,,1100000000,,1100000000,서울특별시,19880423,,11000000,11000000
1,11,서울특별시,11110,종로구,1111000000,,1111000000,종로구,19880423,,11110000,11110000
11,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010100,청운동,20081101,,11110101,11110515
12,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010200,신교동,20081101,,11110102,11110515
13,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010300,궁정동,20081101,,11110103,11110515
...,...,...,...,...,...,...,...,...,...,...,...,...
53156,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035038,장산리,20230611,,51830350,51830350
53157,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035039,전진리,20230611,,51830350,51830350
53158,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035040,주청리,20230611,,51830350,51830350
53159,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035041,적은리,20230611,,51830350,51830350
53160,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035042,물갑리,20230611,,51830350,51830350

### `행_법정동코드에서 필요한 컬럼만 가져와서 첫줄(서울특별시) 제거하기`

In [7]:
a = 행_법정동코드[["시군구코드", "시군구명","행정동코드_8","법정동코드_8"]].drop(index = "0")
a

       시군구코드 시군구명   행정동코드_8   법정동코드_8
1      11110  종로구  11110000  11110000
11     11110  종로구  11110515  11110101
12     11110  종로구  11110515  11110102
13     11110  종로구  11110515  11110103
14     11110  종로구  11110515  11110104
...      ...  ...       ...       ...
53156  51830  양양군  51830350  51830350
53157  51830  양양군  51830350  51830350
53158  51830  양양군  51830350  51830350
53159  51830  양양군  51830350  51830350
53160  51830  양양군  51830350  51830350

[21777 rows x 4 columns]

In [8]:
상권영역_f_xy.head()

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보,folium 위도,folium 경도
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN,37.448687,126.908844
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN,37.634469,127.070978
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN,37.451006,126.912978
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN,37.441482,126.901564
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN,37.509060,127.115614

### `상권영역 str 바꿔주기`

In [9]:
상권영역_f_xy = 상권영역_f_xy.astype(dtype = str)

### `상권영역에서 필요한 컬럼만 가져오기`

In [10]:
상권영역_f_xy.columns

Index(['기준_년월_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '엑스좌표_값',
       '와이좌표_값', '시군구_코드', '행정동_코드', '형태정보', 'folium 위도', 'folium 경도'],
      dtype='object')

In [11]:
b = 상권영역_f_xy[["상권_코드","행정동_코드",'folium 위도', 'folium 경도']]
b

        상권_코드    행정동_코드           folium 위도           folium 경도
0     2110753  11545710  37.448687252791416  126.90884426244727
1     2110427  11350611  37.634469187048175   127.0709781210762
2     2110755  11545680   37.45100597335112  126.91297782653986
3     2110739  11545690   37.44148231062167  126.90156440931558
4     2111017  11710562  37.509060482931616  127.11561416148406
...       ...       ...                 ...                 ...
1666  1001493  11140590  37.567312155725965   127.0110248333143
1667  1001494  11110615   37.56999760824763   126.9973738673892
1668  1001495  11710566   37.51647607488473  127.11527494608232
1669  1001496  11680580   37.51100291317695  127.06005939988393
1670  1001491  11170650  37.534435107014495   126.9943768625423

[1671 rows x 4 columns]

### `행_법정동코드와 상권영역 필요한 컬럼들 끼리 결합하기`

In [12]:
상권_구_행_법_코드 = pd.merge(left = b, right = a, left_on = "행정동_코드", right_on = "행정동코드_8", how = "left").drop(columns = "행정동_코드" )
상권_구_행_법_코드

,상권_코드,folium 위도,folium 경도,시군구코드,시군구명,행정동코드_8,법정동코드_8
0,2110753,37.448687252791416,126.90884426244727,11545,금천구,11545710,11545103
1,2110427,37.634469187048175,127.0709781210762,11350,노원구,11350611,11350104
2,2110755,37.45100597335112,126.91297782653986,11545,금천구,11545680,11545103
3,2110739,37.44148231062167,126.90156440931558,11545,금천구,11545690,11545103
4,2111017,37.509060482931616,127.11561416148406,11710,송파구,11710562,11710111
...,...,...,...,...,...,...,...
3704,1001494,37.56999760824763,126.9973738673892,11110,종로구,11110615,11110159
3705,1001494,37.56999760824763,126.9973738673892,11110,종로구,11110615,11110161
3706,1001495,37.51647607488473,127.11527494608232,11710,송파구,11710566,11710111
3707,1001496,37.51100291317695,127.06005939988393,11680,강남구,11680580,11680105
3708,1001491,37.534435107014495,126.9943768625423,11170,용산구,11170650,11170130

### `추정 매출에 구, 행정동, 법정동 코드 결합하기`

In [13]:
추정매출_결합 = pd.merge(left = 추정매출, right = 상권_구_행_법_코드, how = "left")

In [32]:
추정매출_결합.head(5)

,기준_년_코드,분기,시군구코드,시군구명,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스업종코드,서비스_업종_코드_명,...,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,folium 위도,folium 경도
0,2022,4,11560,영등포구,D,발달상권,2120139,대림3동사거리,CS300031,가구,...,44,0,0,0,0,44,176,1,37.49993615971812,126.89722425398746
1,2022,4,11260,중랑구,D,발달상권,2120068,사가정역,CS100005,제과점,...,62371,1769,17108,23129,20604,18990,14492,5,37.58144352339989,127.08797757880798
2,2022,4,11740,강동구,R,전통시장,2130322,고분다리전통시장,CS300018,의약품,...,6030,78,312,1223,1169,2496,5691,3,37.54220802885624,127.13302303984942
3,2022,4,11710,송파구,D,발달상권,2120230,송파사거리(송파역),CS300017,시계및귀금속,...,97,0,0,15,0,38,103,5,37.500984079269855,127.10973228218874
4,2022,4,11710,송파구,D,발달상권,2120234,가락시장역,CS200016,당구장,...,495,136,812,1417,1156,1815,1678,12,37.49510129007885,127.11826137870352

### `결합 후 컬럼 위치 조정`

In [15]:
추정매출_결합 = 추정매출_결합.reindex(columns = ['기준_년_코드', '기준_분기_코드', '시군구코드', '시군구명', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '행정동코드_8',
       '법정동코드_8', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수','folium 위도', 'folium 경도'])

In [16]:
추정매출_결합.columns

Index(['기준_년_코드', '기준_분기_코드', '시군구코드', '시군구명', '상권_구분_코드', '상권_구분_코드_명',
       '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '행정동코드_8', '법정동코드_8',
       '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율', '주말_매출_비율', '월요일_매출_비율',
       '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율',
       '일요일_매출_비율', '시간대_00~06_매출_비율', '시간대_06~11_매출_비율', '시간대_11~14_매출_비율',
       '시간대_14~17_매출_비율', '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율',
       '여성_매출_비율', '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율',
       '연령대_40_매출_비율', '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액',
       '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액',
       '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
       '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
       '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수',
       '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
       '일요일_매출_건수', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
       '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
       '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수', 'folium 위도',
       'folium 경도'],
      dtype='object')

In [17]:
추정매출_결합.rename(columns = {"기준_분기_코드": "분기", '서비스_업종_코드': "서비스업종코드"}, inplace = True)

In [18]:
추정매출_결합.head()

,기준_년_코드,분기,시군구코드,시군구명,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스업종코드,서비스_업종_코드_명,...,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,folium 위도,folium 경도
0,2022,4,11560,영등포구,D,발달상권,2120139,대림3동사거리,CS300031,가구,...,44,0,0,0,0,44,176,1,37.49993615971812,126.89722425398746
1,2022,4,11260,중랑구,D,발달상권,2120068,사가정역,CS100005,제과점,...,62371,1769,17108,23129,20604,18990,14492,5,37.58144352339989,127.08797757880798
2,2022,4,11740,강동구,R,전통시장,2130322,고분다리전통시장,CS300018,의약품,...,6030,78,312,1223,1169,2496,5691,3,37.54220802885624,127.13302303984942
3,2022,4,11710,송파구,D,발달상권,2120230,송파사거리(송파역),CS300017,시계및귀금속,...,97,0,0,15,0,38,103,5,37.500984079269855,127.10973228218874
4,2022,4,11710,송파구,D,발달상권,2120234,가락시장역,CS200016,당구장,...,495,136,812,1417,1156,1815,1678,12,37.49510129007885,127.11826137870352

In [19]:
# 추정매출_결합_비율제외 = 추정매출_결합[['분기', '시군구명','서비스업종코드','분기당_매출_금액','분기당_매출_건수','주중_매출_금액',
#        '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액',
#        '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액',
#        '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
#        '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
#        '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
#        '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수',
#        '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
#        '일요일_매출_건수', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
#        '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
#        '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
#        '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수']]

In [20]:
# 추정매출_결합_비율제외[['분기당_매출_금액','분기당_매출_건수','주중_매출_금액',
#        '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액',
#        '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액',
#        '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
#        '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
#        '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
#        '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수',
#        '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
#        '일요일_매출_건수', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
#        '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
#        '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
#        '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수']] = 추정매출_결합_비율제외[['분기당_매출_금액','분기당_매출_건수','주중_매출_금액',
#        '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액',
#        '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액',
#        '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
#        '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
#        '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
#        '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수',
#        '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
#        '일요일_매출_건수', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
#        '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
#        '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
#        '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수']].astype(np.int64)

In [21]:
# 추정매출_결합_썸 = 추정매출_결합_비율제외.groupby(by = ['분기', '시군구명','서비스업종코드']).sum()

In [22]:
# 추정매출_결합_썸

In [23]:
추정매출_시각화필요 = 추정매출_결합[['분기', '시군구명', '상권_구분_코드_명',
       '상권_코드_명', '서비스업종코드', 'folium 위도', 'folium 경도']]

In [24]:
추정매출_시각화필요

,분기,시군구명,상권_구분_코드_명,상권_코드_명,서비스업종코드,folium 위도,folium 경도
0,4,영등포구,발달상권,대림3동사거리,CS300031,37.49993615971812,126.89722425398746
1,4,중랑구,발달상권,사가정역,CS100005,37.58144352339989,127.08797757880798
2,4,강동구,전통시장,고분다리전통시장,CS300018,37.54220802885624,127.13302303984942
3,4,송파구,발달상권,송파사거리(송파역),CS300017,37.500984079269855,127.10973228218874
4,4,송파구,발달상권,가락시장역,CS200016,37.49510129007885,127.11826137870352
...,...,...,...,...,...,...,...
293384,1,강남구,발달상권,선릉역,CS100001,37.50458384746136,127.04901603682542
293385,1,강남구,발달상권,선릉역,CS300022,37.50458384746136,127.04901603682542
293386,1,동대문구,골목상권,장평중학교,CS100002,37.564624845803486,127.07021004114992
293387,1,서대문구,발달상권,연희동,CS100010,37.5670576005834,126.92990086646266
293388,1,서초구,발달상권,방배역,CS300022,37.48120384644626,126.99765963135242

In [25]:
추정매출_시각화필요 = 추정매출_시각화필요.astype(str)
년도_업종_구_등급 = 년도_업종_구_등급.astype(str)

In [26]:
시각화시작 = pd.merge(left = 년도_업종_구_등급, right = 추정매출_시각화필요, how = "inner", on = ['분기', '시군구명', "서비스업종코드"])
시각화시작.drop_duplicates(subset = ["분기", "상권_코드_명"], inplace =True)
시각화시작.head()

,분기,시군구명,서비스업종코드,서비스업종,매출등급,상권_구분_코드_명,상권_코드_명,folium 위도,folium 경도
0,1,강남구,CS100001,한식,2.0,전통시장,강남개포시장,37.48880703177452,127.06765141951202
2,1,강남구,CS100001,한식,2.0,골목상권,강남구보훈회관,37.51502617504797,127.0497694066032
3,1,강남구,CS100001,한식,2.0,골목상권,언주중학교,37.51359558431378,127.044757678195
4,1,강남구,CS100001,한식,2.0,골목상권,언북초등학교,37.52171331120836,127.04557700798112
5,1,강남구,CS100001,한식,2.0,발달상권,포스코사거리,37.506770010092765,127.05636895451428

In [27]:
for i in ("2", "3", "4"):
    print(시각화시작[시각화시작["매출등급"] == f"{i}.0"])

      분기 시군구명   서비스업종코드 서비스업종 매출등급 상권_구분_코드_명               상권_코드_명  \
0      1  강남구  CS100001    한식  2.0       전통시장                강남개포시장
2      1  강남구  CS100001    한식  2.0       골목상권               강남구보훈회관
3      1  강남구  CS100001    한식  2.0       골목상권                 언주중학교
4      1  강남구  CS100001    한식  2.0       골목상권                언북초등학교
5      1  강남구  CS100001    한식  2.0       발달상권                포스코사거리
...   ..  ...       ...   ...  ...        ...                   ...
65890  4  서초구  CS100001    한식  2.0       골목상권   더케이호텔(양재리본타워2단지아파트)
65892  4  서초구  CS100001    한식  2.0       골목상권      양재근린공원(양재2동주민센터)
65923  4  서초구  CS100002    중식  2.0       골목상권   삼성전자서울R&D(서울우면초등학교)
65933  4  서초구  CS100002    중식  2.0       골목상권  본마을노인복지센터(서초구립내곡도서관)
75478  4   중구  CS100002    중식  2.0       전통시장             필동 골목형상점가

                folium 위도           folium 경도
0       37.48880703177452  127.06765141951202
2       37.51502617504797   127.0497694066032
3       37.51359558431378    127.044757678195
4       37.52171331120836  127.04557700798112
5      37.506770010092765  127.05636895451428
...                   ...                 ...
65890   37.46566519455291  127.03525651533708
65892   37.47179035101836   127.0406065199346
65923   37.46602898207339  127.02105905964538
65933   37.45491860238802  127.05278113575508
75478   37.55984335853131  126.99650273776166

[624 rows x 9 columns]
      분기 시군구명   서비스업종코드   서비스업종 매출등급 상권_구분_코드_명              상권_코드_명  \
287    1  강남구  CS100004  기타 외국식  3.0       골목상권               청담초등학교
293    1  강남구  CS100004  기타 외국식  3.0       골목상권      도곡2동주민센터(대치중학교)
298    1  강남구  CS100004  기타 외국식  3.0       골목상권                  국기원
367    1  강남구  CS100005    제과제빵  3.0       골목상권             강남구청역 4번
390    1  강남구  CS100006   패스트푸드  3.0       골목상권               매봉역 1번
...   ..  ...       ...     ...  ...        ...                  ...
77789  4   중구  CS100010      커피  3.0       전통시장        team204(팀204)
77802  4   중구  CS100010      커피  3.0       전통시장       숭례문수입상가(남대문시장)
77908  4   중구  CS100010      커피  3.0       전통시장  명동지하쇼핑센터(소공동지하쇼핑센터)
78198  4   중구  CS100010      커피  3.0       골목상권                다산성곽길
78601  4  중랑구  CS100010      커피  3.0       골목상권               신내IC북측

                folium 위도           folium 경도
287      37.5271275896096  127.04746958205791
293     37.48337498489353   127.0469444034551
298     37.50250921505765   127.0286691780788
367    37.518930026686775  127.04341475792346
390     37.48725902172483  127.04517162847172
...                   ...                 ...
77789   37.56782551045061  127.01310764331144
77802  37.559489601803634  126.97609649555942
77908   37.56368920868681  126.98144884326608
78198   37.55551842276816  127.00688094675463
78601   37.61835544545647  127.10128480707512

[5531 rows x 9 columns]
      분기  시군구명   서비스업종코드 서비스업종 매출등급 상권_구분_코드_명           상권_코드_명  \
10229  1  영등포구  CS100002    중식  4.0       골목상권  대림차이나타운(대림역 12번)
19664  1   중랑구  CS100008    분식  4.0       전통시장           동성타워프라자
30003  2  영등포구  CS100002    중식  4.0       골목상권  대림차이나타운(대림역 12번)
39149  2   중랑구  CS100002    중식  4.0       전통시장              유영시장
39318  2   중랑구  CS100008    분식  4.0       전통시장           동성타워프라자
...   ..   ...       ...   ...  ...        ...               ...
78339  4   중랑구  CS100001    한식  4.0       골목상권             장안중학교
78340  4   중랑구  CS100001    한식  4.0       골목상권           메가박스 상봉
78372  4   중랑구  CS100002    중식  4.0       전통시장              유영시장
78455  4   중랑구  CS100007    치킨  4.0       골목상권           세화어린이공원
78478  4   중랑구  CS100008    분식  4.0       전통시장           동성타워프라자

                folium 위도           folium 경도
10229  37.491088159139466  126.89708937938848
19664   37.60802440815692  127.09736357028017
30003  37.491088159139466  126.89708937938848
39149  37.591572767280304    127.096821285264
39318   37.60802440815692  127.09736357028017
...                   ...                 ...
78339   37.59992723004387  127.08191831509352
78340   37.59138143484043  127.07497941073622
78372  37.591572767280304    127.096821285264
78455   37.59854449859126   127.0746921778962
78478   37.60802440815692  127.09736357028017

[127 rows x 9 columns]

In [28]:
import folium
import json
import glob
import os
import pandas as pd
import numpy as np

In [1]:
geo_path = './임시/('강남구', '골목상권').json'
geo_data = json.load(open('./임시/('강남구', '골목상권').json', encoding='utf-8'))

SyntaxError: invalid syntax (2924628974.py, line 1)

In [30]:
for i,v in 시각화시작.groupby(by = ["분기", "서비스업종"]):
    a = v["시군구명"].value_counts().to_frame()
    # 위치 파라미터 설정
    loc = [37.5502, 126.982] # 위도(N), 경도(E)
    data_size = len(v)
    map_seoul = folium.Map(location=loc, zoom_start=12)
    map_seoul.choropleth(geo_data=geo_data,
              data = a['count'],
              columns=[a.index, a['count']],
              fill_color='PuRd',
              key_on='feature.id')
    map_seoul.save(f"{i}.html")

In [38]:
for i,v in 시각화시작.groupby(by = ["분기", "서비스업종"]):
    a = v["시군구명"].value_counts().to_frame()
    # 위치 파라미터 설정
    loc = [37.5502, 126.982] # 위도(N), 경도(E)
    data_size = len(v)
    map_seoul = folium.Map(location=loc, zoom_start=12)
    map_seoul.choropleth(geo_data=geo_data,
              data = a['count'],
              columns=[a.index, a['count']],
              fill_color='PuRd',
              key_on='feature.id')
    for j in ("2", "3", "4"):
        b = v[v["매출등급"] == f"{j}.0"]
        data_size = len(b)
        for k in range(data_size):
            if j == "2":
                folium.Marker(list(v.iloc[k][["folium 위도", "folium 경도"]]),
                              popup=v.iloc[k][['상권_코드_명']],
                              icon=folium.Icon(color='purple')).add_to(map_seoul)
            elif j == "3":
                folium.Marker(list(v.iloc[k][["folium 위도", "folium 경도"]]),
                              popup=v.iloc[k][['상권_코드_명']],
                              icon=folium.Icon(color='green')).add_to(map_seoul)
            elif j == "4":
                folium.Marker(list(v.iloc[k][["folium 위도", "folium 경도"]]),
                              popup=v.iloc[k][['상권_코드_명']],
                              icon=folium.Icon(color='blue')).add_to(map_seoul)
    map_seoul.save(f"{i}.html")