# `필요한 라이브러리 불러오기`

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import PublicDataReader as pdr

# `필요한 파일 불러오기`

In [3]:
추정매출 = pd.read_csv("./서울시 상권분석서비스(상권-추정매출2022).csv", encoding = "ansi")
생활인구 = pd.read_csv("./서울시 상권분석서비스(상권-생활인구2022).csv", encoding = "ansi")
직장인구 = pd.read_csv("./서울시 상권분석서비스(상권-직장인구2022).csv", encoding = "ansi")
상권영역 = pd.read_csv("./서울시 상권분석서비스(상권영역).csv", encoding = "ansi")
법정동코드 = pd.read_csv("./서울시 건축물대장 법정동 코드정보.csv", encoding = "ansi")
매출등급 = pd.read_csv("./필지단위 소상공인 매출등급 정보.csv", encoding = "ansi")
코드변환 = pd.read_csv("./A_CS 코드변환.txt")
년도_업종_구_등급  = pd.read_csv("./년도_업종_구_등급.csv", encoding = "ansi")

# `추정매출["점포수"]에 *값 1로 변경해주기`

In [31]:
추정매출["점포수"]= 추정매출["점포수"].str.replace(pat = "*",repl = "1")
추정매출 = 추정매출.astype(dtype = str)
추정매출

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2022,4,D,발달상권,2120139,대림3동사거리,CS300031,가구,205619535,220,...,0,176,44,0,0,0,0,44,176,1
1,2022,4,D,발달상권,2120068,사가정역,CS100005,제과점,1111094837,97349,...,9275,33721,62371,1769,17108,23129,20604,18990,14492,5
2,2022,4,R,전통시장,2130322,고분다리전통시장,CS300018,의약품,168879417,10969,...,0,4939,6030,78,312,1223,1169,2496,5691,3
3,2022,4,D,발달상권,2120230,송파사거리(송파역),CS300017,시계및귀금속,47289011,156,...,0,59,97,0,0,15,0,38,103,5
4,2022,4,D,발달상권,2120234,가락시장역,CS200016,당구장,191548486,7142,...,1726,6518,495,136,812,1417,1156,1815,1678,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136815,2022,1,D,발달상권,2120210,선릉역,CS100001,한식음식점,23793250961,656818,...,33341,325540,198873,5225,92276,142044,117282,100271,67313,252
136816,2022,1,D,발달상권,2120210,선릉역,CS300022,화장품,16603436633,129219,...,4457,23784,105284,1676,41781,37758,22677,15331,9845,227
136817,2022,1,A,골목상권,2110229,장평중학교,CS100002,중식음식점,116283313,5785,...,12,3519,1646,14,329,1061,1602,1156,1005,4
136818,2022,1,D,발달상권,2120093,연희동,CS100010,커피-음료,2040140668,201894,...,2578,73439,123527,1536,66115,62268,30498,25224,11328,34
136819,2022,1,D,발달상권,2120166,방배역,CS300022,화장품,172942123,853,...,144,257,574,0,57,216,321,105,132,31

# `추정 매출에 구, 행정동, 법정동 코드 결합하기`

# `구와 행정동,법정동 코드 뽑아내기`

In [6]:
행_법정동코드 = pdr.code_hdong_bdong()
행_법정동코드 = 행_법정동코드.loc[행_법정동코드['말소일자'] == ""]
행_법정동코드 = 행_법정동코드.astype(dtype = str)
행_법정동코드

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2023. 7. 3. 시행)

,시도코드,시도명,시군구코드,시군구명,행정동코드,읍면동명,법정동코드,동리명,생성일자,말소일자
0,11,서울특별시,11000,,1100000000,,1100000000,서울특별시,19880423,
1,11,서울특별시,11110,종로구,1111000000,,1111000000,종로구,19880423,
11,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010100,청운동,20081101,
12,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010200,신교동,20081101,
13,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010300,궁정동,20081101,
...,...,...,...,...,...,...,...,...,...,...
53156,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035038,장산리,20230611,
53157,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035039,전진리,20230611,
53158,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035040,주청리,20230611,
53159,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035041,적은리,20230611,
53160,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035042,물갑리,20230611,

In [7]:
#len(행_법정동코드["행정동코드"][0])

### `행정동코드, 법정동코드 길이 8로 맞춰주기`

In [8]:
행_법정동코드["법정동코드_8"] = 행_법정동코드["법정동코드"].str[:-2]
행_법정동코드["행정동코드_8"] = 행_법정동코드["행정동코드"].str[:-2]
행_법정동코드

,시도코드,시도명,시군구코드,시군구명,행정동코드,읍면동명,법정동코드,동리명,생성일자,말소일자,법정동코드_8,행정동코드_8
0,11,서울특별시,11000,,1100000000,,1100000000,서울특별시,19880423,,11000000,11000000
1,11,서울특별시,11110,종로구,1111000000,,1111000000,종로구,19880423,,11110000,11110000
11,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010100,청운동,20081101,,11110101,11110515
12,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010200,신교동,20081101,,11110102,11110515
13,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010300,궁정동,20081101,,11110103,11110515
...,...,...,...,...,...,...,...,...,...,...,...,...
53156,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035038,장산리,20230611,,51830350,51830350
53157,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035039,전진리,20230611,,51830350,51830350
53158,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035040,주청리,20230611,,51830350,51830350
53159,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035041,적은리,20230611,,51830350,51830350
53160,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035042,물갑리,20230611,,51830350,51830350

### `행_법정동코드에서 필요한 컬럼만 가져와서 첫줄(서울특별시) 제거하기`

In [9]:
a = 행_법정동코드[["시군구코드", "시군구명","행정동코드_8","법정동코드_8"]].drop(index = "0")
a

       시군구코드 시군구명   행정동코드_8   법정동코드_8
1      11110  종로구  11110000  11110000
11     11110  종로구  11110515  11110101
12     11110  종로구  11110515  11110102
13     11110  종로구  11110515  11110103
14     11110  종로구  11110515  11110104
...      ...  ...       ...       ...
53156  51830  양양군  51830350  51830350
53157  51830  양양군  51830350  51830350
53158  51830  양양군  51830350  51830350
53159  51830  양양군  51830350  51830350
53160  51830  양양군  51830350  51830350

[21777 rows x 4 columns]

In [10]:
상권영역.head()

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN

### `상권영역 str 바꿔주기`

In [15]:
상권영역 = 상권영역.astype(dtype = str)

### `상권영역에서 필요한 컬럼만 가져오기`

In [12]:
b = 상권영역[["상권_코드","행정동_코드"]]
b

        상권_코드    행정동_코드
0     2110753  11545710
1     2110427  11350611
2     2110755  11545680
3     2110739  11545690
4     2111017  11710562
...       ...       ...
1666  1001493  11140590
1667  1001494  11110615
1668  1001495  11710566
1669  1001496  11680580
1670  1001491  11170650

[1671 rows x 2 columns]

### `행_법정동코드와 상권영역 필요한 컬럼들 끼리 결합하기`

In [32]:
상권_구_행_법_코드 = pd.merge(left = b, right = a, left_on = "행정동_코드", right_on = "행정동코드_8", how = "left").drop(columns = "행정동_코드" )
상권_구_행_법_코드

        상권_코드  시군구코드 시군구명   행정동코드_8   법정동코드_8
0     2110753  11545  금천구  11545710  11545103
1     2110427  11350  노원구  11350611  11350104
2     2110755  11545  금천구  11545680  11545103
3     2110739  11545  금천구  11545690  11545103
4     2111017  11710  송파구  11710562  11710111
...       ...    ...  ...       ...       ...
3704  1001494  11110  종로구  11110615  11110159
3705  1001494  11110  종로구  11110615  11110161
3706  1001495  11710  송파구  11710566  11710111
3707  1001496  11680  강남구  11680580  11680105
3708  1001491  11170  용산구  11170650  11170130

[3709 rows x 5 columns]

### `추정 매출에 구, 행정동, 법정동 코드 결합하기`

In [38]:
추정매출_결합 = pd.merge(left = 추정매출, right = 상권_구_행_법_코드, how = "left")

In [39]:
추정매출_결합.head(1)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,시군구코드,시군구명,행정동코드_8,법정동코드_8
0,2022,4,D,발달상권,2120139,대림3동사거리,CS300031,가구,205619535,220,...,0,0,0,44,176,1,11560,영등포구,11560720,11560133

### `결합 후 컬럼 위치 조정`

In [45]:
추정매출_결합 = 추정매출_결합.reindex(columns = ['기준_년_코드', '기준_분기_코드', '시군구코드', '시군구명', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '행정동코드_8',
       '법정동코드_8', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'])

In [46]:
추정매출_결합

,기준_년_코드,기준_분기_코드,시군구코드,시군구명,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2022,4,11560,영등포구,D,발달상권,2120139,대림3동사거리,CS300031,가구,...,0,176,44,0,0,0,0,44,176,1
1,2022,4,11260,중랑구,D,발달상권,2120068,사가정역,CS100005,제과점,...,9275,33721,62371,1769,17108,23129,20604,18990,14492,5
2,2022,4,11740,강동구,R,전통시장,2130322,고분다리전통시장,CS300018,의약품,...,0,4939,6030,78,312,1223,1169,2496,5691,3
3,2022,4,11710,송파구,D,발달상권,2120230,송파사거리(송파역),CS300017,시계및귀금속,...,0,59,97,0,0,15,0,38,103,5
4,2022,4,11710,송파구,D,발달상권,2120234,가락시장역,CS200016,당구장,...,1726,6518,495,136,812,1417,1156,1815,1678,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293384,2022,1,11680,강남구,D,발달상권,2120210,선릉역,CS100001,한식음식점,...,33341,325540,198873,5225,92276,142044,117282,100271,67313,252
293385,2022,1,11680,강남구,D,발달상권,2120210,선릉역,CS300022,화장품,...,4457,23784,105284,1676,41781,37758,22677,15331,9845,227
293386,2022,1,11230,동대문구,A,골목상권,2110229,장평중학교,CS100002,중식음식점,...,12,3519,1646,14,329,1061,1602,1156,1005,4
293387,2022,1,11410,서대문구,D,발달상권,2120093,연희동,CS100010,커피-음료,...,2578,73439,123527,1536,66115,62268,30498,25224,11328,34
293388,2022,1,11650,서초구,D,발달상권,2120166,방배역,CS300022,화장품,...,144,257,574,0,57,216,321,105,132,31